<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
</head>
<body>
<h1>Create Account</h1>
<form class="box" action="/auth/create"  method="POST">
    <p><label>Your Name</label></p>
    <a> <input name="name"/> </a>
    <p><label>login</label></p>
    <a> <input name="login"/> </a>
    <p><label>Password</label></p>
    <a><input name="password"/></a>
    <button class="floating-button" type="submit">Register</button>
</form>
<a class="floating-button" href="/">Back to login</a>
</body>
<html>